/* Space out content a bit */
body {
  background-color: #ececec;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif/*rtl:"Droid Arabic Kufi", "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif */; 
}

.item > a:hover {
 color: #CCE2FF;
}

.item > a {
 color: white;
 text-decoration: none;
}

.contain {
  padding-top: 10px;
}

.container > .center {
  margin-left: 30px;
}

.left_menu {
  display: none !important;
  position: absolute;
  background-color: #c17161;
  z-index: 999;
  margin-top: 0px !important;
  overflow-y: scroll;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  color: #D7F3D7;
  font-size: 18px !important;
  position: fixed;
  z-index: 999;
  margin: 0em;
}

.left_menu_footer {
  font-size: 40px;
  padding-left: 50%;
}

.left_menu_footer  i:hover {
  color: white;
}

.show_left_menu {
  display: block !important;
}

.left_menu > .showbox {
  height: 0px;
}

.show_menu {
  display: block !important;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: slidein;
  animation-name: slidein;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  padding-top: 20px !important;
  padding-left: 60px !important;
}

.show_menu .ctx {
    height: 390px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.article {
  padding: 5px 0px 0px 0px;
  overflow: hidden;
}

.article > .loading_page {
  height: 876px;
  background-color: white;
  padding: 28px 42px 42px 42px;
  /* A4 width */
  width: 620px;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  margin: 0px auto 50px auto;
}

.loading_page  i {
  margin-top: 300px ;
  margin-left: 220px ;
}

@media screen and (max-width: 1250px) {
    .hideTable {
        display: none;
    }
    .showTable { 
        display: block;
    }
    .createPage {
        width: 620px !important;
    }
}

@media screen and (min-width: 1250px) {
    .hideTable {
        display: block;
    }
    .showTable { 
        display: none;
    }
    .createPage {
        float: left;
        margin-left: 2% !important;
        width: 41% !important;
    }
}

.session {
  min-height: 876px;
  background-color: white;
  padding: 28px 42px 42px 42px;
  /* A4 width */
  height: 100%;
  width: 620px;
  line-height: 30px;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  margin: 0px auto 50px auto;
}

.session > .content > textarea {
  width: 620px;
  height: 876px;
  border: 1px solid #ccc;
}

.session > .edit {
  display: block;
}

.hidden {
  display: none;
}

.session > .function {
  position: relative;
  float: right;
  left: 30px;
  top: -15px;
  vertical-align: middle;
}

.session > .function > a > i {
  font-size: 1.2em;
}

.session > .function > a > i:hover {
  color: #ccc;
}

.column .setting {
  font-size: 30px;
  width: auto;
}

.search_offset {
  position: absolute;
  margin-top: 3px !important;
  margin-left: 5px !important;
}

.footer {
  width: 100%;
  height: 70px;
  background-color: #12372f;
  color: white;
}

.footer > p {
  text-align: center;
  padding-top: 25px;
}

@-webkit-keyframes slidein {
  from {
    height: 0px;
  }

  to {
    height: 400px;
  }
}

@keyframes slidein {
  from {
    height: 0px;
  }

  to {
    height: 400px;
  }
}

Pseudo ::before element
ol.ui.list li:before, .ui.ordered.list .item:before {
    position: absolute;
    left: -2em;
    counter-increment: ordered;
    content: counters(ordered, ".")".";
    text-align: right;
    vertical-align: top;
    opacity: 0.75;
}
h1, h2, h3, h4, h5 {
font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif/*rtl:prepend:"Droid Arabic Kufi","Droid Sans", */ !important;
}
