/* Space out content a bit */

body {
  background-color: #ececec;
}

.item > a:hover {
 color: #CCE2FF;
}

.item > a {
 color: #009FDA;
 text-decoration: none;
}

.contain {
  padding-top: 10px;
}

.container > .center {
  margin-left: 30px;
}

.left_menu {
  display: none !important;
  position: absolute;
  background-color: #c17161;
  z-index: 999;
  margin-top: 0px !important;
  overflow-y: scroll;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  color: #D7F3D7;
  font-size: 18px !important;
  position: fixed;
  z-index: 999;
  margin: 0em;
}

.left_menu_footer {
  font-size: 40px;
  padding-left: 50%;
}

.left_menu_footer  i:hover {
  color: white;
}

.show_left_menu {
  display: block !important;
}

.left_menu > .showbox {
  height: 0px;
}

.show_menu {
  display: block !important;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: slidein;
  animation-name: slidein;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  padding-top: 20px !important;
  padding-left: 60px !important;
}

.article {
  padding-top: 5px;
  overflow: hidden;
}

.article > .session {
  min-height: 876px;
  background-color: white;
  padding: 28px 42px 42px 42px;
  /* A4 width */
  width: 620px;
  height: 100%;
  line-height: 30px;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  margin: 0px auto 50px auto;
}

.session > .content > textarea {
  width: 620px;
  height: 876px;
  border: 1px solid #ccc;
}

.session > .edit {
  display: block;
}

.hidden {
  display: none;
}

.session > .function {
  position: relative;
  float: right;
  left: 30px;
  top: -15px;
  vertical-align: middle;
}

.session > .function > a > i {
  font-size: 1.2em;
}

.session > .function > a > i:hover {
  color: #ccc;
}

.column .setting {
  font-size: 30px;
  width: auto;
}

.search_offset {
  position: absolute;
  margin-top: 3px !important;
  margin-left: 5px !important;
}

.footer {
  width: 100%;
  height: 70px;
  background-color: #12372f;
  color: white;
}

.footer > p {
  text-align: center;
  padding-top: 25px;
}

@-webkit-keyframes slidein {
  from {
    height: 0px;
  }

  to {
    height: 400px;
  }
}

@keyframes slidein {
  from {
    height: 0px;
  }

  to {
    height: 400px;
  }
}
