table.wikitable { background-color: #fff; border: 1px solid #aaa; }
table.wikitable td { background-color: #fff; border: 1px solid #aaa; }

pre {
    font-family: monospace;
    background-color: #eee;
    padding: 2px;
    padding-left: 10px;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

hr {
 height: 1px;
 color: #aaaaaa;
 background-color: #aaaaaa;
 border: 0;
 margin: 0.2em 5px 0.2em 5px;
}

form {
    border: none;
    margin: 0;
}

textarea {
    border: 1px solid #aaaaaa;
    color: Black;
    background-color: white;
    width: 100%;
    padding: 0.1em;
    overflow: auto;
}

.function > a, ulink {
    border-bottom: 1px !important;     
}

.content a, ulink{
   color: #333 ;
   text-decoration:none;
   border-bottom: 1px #333 dotted;
   display: inline;
 }

.content > a:hover {
   color: #333;
   text-decoration: None;
   border-bottom: 1px #000 solid;
   }

.session a:visited {
   color: #333;
}

ul {
    list-style-type: disc;
    margin-left: 1.8em;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

hr {
    margin-top: 20px;
    margin-bottom: 10px;
}

code {
    margin: 0;
    border: none;
    word-wrap: normal;
    max-width: initial;
    display: inline;
    overflow: initial;
    line-height: inherit;
    background-color: #ccc;
    padding: 2px 3px 2px 3px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

table {
    display: table;
    margin-bottom: 20px !important;
}

td {
    padding: 5px 5px 5px 5px;
}

b {
    font-weight: bold;
}

i {
    font-style: italic;
}

.highlight {
    background: #FFFF00;
}
.R {
    background: #FF0000;
    color: white;
}
.G {
    background: #00FF00;
}
.B {
    background: #0000FF;
    color: white;
}
.Y {
    background: #FFFF00;
}
.P {
    background: #FF00FF;
}
.C {
    background: #00FFFF;
}
.R .G .B {
    padding: 2px 3px 2px 3px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
