<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="bower_components/semantic-ui/packaged/css/semantic.css"> 
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <link rel="stylesheet" href="styles/reset.css">
        <link rel="stylesheet" href="styles/style.css">
        <!-- endbuild -->
        <script src="bower_components/angular/angular.min.js"></script>
        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/view.js"></script>
        <script src="scripts/controllers/search.js"></script>
        <script src="scripts/directives/repeatFinish.js"></script>
        <script src="scripts/dbFactory.js"></script>
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/semantic-ui/packaged/javascript/semantic.js"></script>
        <!-- endbuild -->
</head>
  <body ng-app="styleApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="bower_components/es5-shim/es5-shim.js"></script>
      <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    
    <div class = "ui fixed transparent main menu" ng-init="isShowMenu=true" ng-controller="MainCtrl">
        <div class="container">
            <a href="/" class="launch item" ng-click="$parent.isShowMenu=false"><i class="icon large home"></i> PortableWiki </a>
            <a href="" ng-click="$parent.isShowMenu=!$parent.isShowMenu;updateIndex()" class="item icon">
                <i class="ordered list large icon"></i> Index
            </a>
            <a href="#/Create" ng-click="$parent.isShowMenu=false" class="item icon">
                <i class="plus large icon"></i> Create
            </a>
            <div class="ui mini icon input search_offset">
                <input type="text" placeholder="Search ..." ng-keypress="search($event)">
                <i class="search icon" ng-click="search()"></i>
            </div>
            <div class="right menu">
                <div class="ui icon top right pointing dropdown item">
                  <i class="settings large icon" ng-click="$root.isShowMenu=false"></i>
                  <div class="menu">
                    <a href="#/Changes" class="icon item" ng-click="changes()"><i class="info icon"></i>Changes</a>
                    <a href="#/Help" class="item"><i class="help icon"></i>Help</a>
                    <a href="#/About" class="item"><i class="user icon"></i>About</a>
                  </div>
                </div>
            </div>    
        </div>
    </div>
    
    <div class="ui one column grid ">
        <div class="left_menu column" ng-class="{show_left_menu:$parent.isShowMenu}" ng-controller="MainCtrl">
            <div class="showbox" ng-class="{show_menu:$parent.isShowMenu}">
                <div class="ctx">
                   <div class="ui ordered list" >
                    <div ng-repeat="list in lists">
                        <div class="item" ng-repeat="s in list">
                            <a class="header" href="#/View/{{s}}" ng-bind="s" 
                                             ng-click="$root.isShowMenu=!$root.isShowMenu"></a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="left_menu_footer">
                <i class="remove circle icon"
                        ng-click="$root.isShowMenu=false"></i>
            </div>
        </div>
        <div class="column">
            <div class="contain" ng-view=""></div>
        </div>
    </div>

    <div class="ui modal">
      <i class="close icon"></i>
      <div class="header">
        Do you Delete This Article
      </div>
      <div class="actions">
        <div class="ui button cancel">Cancel</div>
        <div class="ui button ok">OK</div>
      </div>
    </div>
    

    <div class="footer" ng-init="$roor.repeatHide=false" ng-show="$root.repeatHide" ng-controller="MainCtrl">
        <p>PortableWiki Version: 0.3</p>                                            
    </div>   

        <!-- build:js scripts/modules.js -->
        <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
        <script src="bower_components/angular-route/angular-route.min.js"></script>
        <!-- endbuild -->
    
</body>
</html>
