<div class="article">
    <div class="session"> 
        <h3 class="ui header"> Author <h3>
        <div class="ui list">
            <div class="item">
            <img class="ui avatar image" src="https://avatars.githubusercontent.com/u/478921">
            <div class="about_content">
              <div class="header">Jserv</div>  
            </div>

            <div class="list">
               <div class="item">
                  <i class="mail outline icon"></i>
                    <div class="content">
                      <a class="header">jserv@0xlab.org</a>
                    </div>
              </div>
               <div class="item">
                   <i class="github sign icon"></i>
                    <div class="content">
                      <a class="header">https://github.com/jserv</a>
                    </div>
              </div>
            </div>
            <br>
            <div class="item">
            <img class="ui avatar image" src="https://avatars.githubusercontent.com/u/939233">
            <div class="about_content">
              <div class="header">CarterTsai</div>  
            </div>
    
            <div class="list">
               <div class="item">
                  <i class="mail outline icon"></i>
                    <div class="content">
                      <a class="header">hamming1@gmail.com</a>
                    </div>
               </div>

               <div class="item">
                   <i class="github sign icon"></i>
                    <div class="content">
                      <a class="header">https://github.com/CarterTsai</a>
                    </div>
              </div>
            </div>
    </div>
</div>
